##Кластеризация

Выполнение кластеризации на K = 3 кластера методом К-средних на основании таблицы некоторых синтетических данных.

Подключение библиотек

In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans

Чтение данных: так как названия конфет уникальны, они используются в качестве индекса. Удаление столбца Cluster из набора данных.

In [2]:
df = pd.read_csv("/content/data.csv", delimiter=',', index_col='Object')
df_norm = df.drop('Cluster', axis=1)

Инициализация модели, обучение модели на данных из df_norm. 
При выполнении задания с помощью библиотеки sklearn используется начальная инициализация со следующими координатами центроидов и параметрами:
KMeans(n_clusters=3, init=np.array([[11.8, 11.6], [8.5, 9.83], [14.0, 14.5]]), max_iter=100, n_init=1)

In [3]:
kmeans = KMeans(n_clusters=3, init=np.array([[11.8, 11.6], [8.5, 9.83], [14.0, 14.5]]), max_iter=100, n_init=1)
model = kmeans.fit(df_norm)

Вывод назначенных кластеров:

In [4]:
df_norm["Clusters"] = model.labels_.tolist()
df_norm

         X   Y  Clusters
Object
1       16  12         2
2        5   5         1
3       14   5         0
4        8   2         0
5        2  18         1
6        1   4         1
7        8  20         2
8       14   8         0
9        2  17         1
10       7  20         2
11      16   7         0
12      19  15         2
13      20  20         2
14      20   9         0
15      14  13         2

Обучение модели и расчет расстояний до центроидов:

In [5]:
alldistances = kmeans.fit_transform(df_norm.drop('Clusters',axis=1))

вывод расстояний от данных до всех центроидов

In [6]:
alldistances

array([[ 6.01664358, 13.53698637,  5.07718207],
       [ 9.47628619,  6.5       , 14.73469074],
       [ 1.26491106, 12.97112177, 11.66666667],
       [ 7.65506368, 10.54751155, 15.84648577],
       [17.11724277,  7.01783442, 12.07384685],
       [13.57939616,  7.15891053, 18.15060452],
       [15.2118375 , 10.54751155,  6.86375343],
       [ 1.84390889, 11.88486432,  8.66666667],
       [16.44384383,  6.02079729, 12.00462874],
       [15.6588633 , 10.0623059 ,  7.75313557],
       [ 1.78885438, 14.08012784,  9.87139526],
       [ 9.92975327, 16.97792685,  5.27046277],
       [14.89295135, 19.67866865,  6.86375343],
       [ 6.26099034, 17.61391495,  9.73538791],
       [ 6.81175455, 11.67261753,  3.66666667]])

По результатам выполнения кластеризации определяется среднее расстояние между объектами и центроидом, отнесенных к кластеру 0.

In [7]:
search = 0
Clusters_array = []
for i in range(len(df_norm['Clusters'])):
  if (df_norm['Clusters'][i+1] == search):
    Clusters_array.append(alldistances[i][search])
sum(Clusters_array)/len(Clusters_array)

3.762745671625408